.librarian
.DS_Store
.tmp
.tmp/
.idea/
*.iml
/manifests/
modules
modules/
*.iml
*.idea
.vagrant
*password.txt
auth.conf
autosign.conf
fileserver.conf
puppet.conf
puppetdb.conf
routes.yaml
*.conf.dpkg-*
*.swp
.rvmrc
dev-environment/shared/vm*/*.dot
.ruby-version
.project
config.ru
unicorn.conf
/.bundle
/vendor
keys/
/.fixtures.yml
